.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 1300px;
  overflow-y: hidden;

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    z-index: 20;

    .header-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      position: relative;
      min-width: 1300px;
      height: 48px;
      margin: 0 auto;

      .login-state {
        display: flex;
        flex-direction: row;

        .login-and-logout-btn {
          border: none;
          outline: none;
          color: black;
          font-size: 20px;
          font-weight: bold;
          font-family: "Rajdhani";
          background-color: transparent;
          border: 2px solid black;
          z-index: 100;
          cursor: pointer;

          @keyframes setRadius {
            from {
              border-radius: 0;
            }
            to {
              border-radius: 30px;
            }
          }

          &:hover {
            background-color: black;
            color: white;
            animation: setRadius 0.8s ease-in-out forwards;
          }
        }

        .welcome {
          border: none;
          outline: none;
          color: black;
          font-size: 15px;
          font-weight: bold;
          font-family: "Rajdhani";
          background-color: transparent;
          z-index: 100;
          cursor: pointer;
        }

        .logout {
          border: none;
          outline: none;
          color: black;
          font-size: 15px;
          font-weight: bold;
          font-family: "Rajdhani";
          background-color: transparent;
          z-index: 100;
          cursor: pointer;
        }
      }

      .logo-games {
        display: flex;
        position: relative;
        align-items: center;
        width: 100px;
        height: 48px;
      }

      .logo-tmi {
        display: flex;
        padding-left: 10px;
      }

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;
        margin: 10px;
        border-radius: 50%;
        border: 5px solid white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

        img {
          width: 100%;
          height: 100%;
          background-color: black;
          border-radius: 50%;
          box-shadow: 0px 0px 5px black;
        }
      }
    }

    .navigation {
      display: flex;
      background-color: black;

      .navigation-inner {
        display: flex;
        height: 55px;
        margin: auto;
        color: #fff;
        z-index: 15;

        .navigation-tab {
          display: flex;
          flex-direction: row;
          align-items: center;

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 160px;
              height: 55px;
              font-size: 14px;

              &:last-child {
                position: absolute;
                right: 0;
              }

              svg {
                width: 200px;
              }

              .active {
                display: flex;
                align-items: center;
                justify-content: center;

                .btn {
                  width: 100%;
                  max-width: 160px;
                  color: #fff;
                  font-size: 16px;
                  cursor: pointer;
                }

                .btn-1 {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  & svg {
                    width: 100px;
                    height: 45px;
                    position: absolute;
                  }

                  & rect {
                    fill: none;
                    stroke-width: 5;
                    stroke-dasharray: 500, 0;
                  }

                  &:hover {
                    stroke: #fff;
                    font-weight: 900;
                    letter-spacing: 1px;
                  }

                  &:hover rect {
                    stroke-width: 10;
                    stroke-dasharray: 70, 160;
                    stroke-dashoffset: 70;
                    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
